{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table table striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Prices</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.share }}</td>
                    <td>{{ usd(transaction.price_per_share)}}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}