{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled select value="">Symbol</option>
                    {% for row in stocks %}
                    <option value="{{row.symbol}}">{{row.symbol}}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>


{% endblock %}